@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
    font-family: "Oxygen", sans-serif;
    color: rgb(212, 212, 212);
}

input {
    color: rgb(39, 39, 39);
}

body {
    overflow-y: hidden;
}
